@page "/Books/{Id:int}/Delete"
@using BooksWASM.Shared.Models
@inject IBooksServices booksServices

<h3>Book Delete</h3>

@if (Id > 0 && isDeleted)
{
    <p><em>Book with id: @Id was deleted successfully</em></p>
}
else if (Id == 0)
{
    <p><em>There's no existing book with id 0</em></p>
}
else
{
    <p><em>There's no existing book with id @Id</em></p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private bool isDeleted;

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            await booksServices.DeleteBook(Id);
            isDeleted = true;
        }
    }
}
