@page "/Books/{Id:int}/Delete"
@using BooksWASM.Shared.Models
@inject IBooksServices booksServices
@inject IToastService Toast

<h3>Book Delete</h3>

@if (book.Id == Id && isDeleted)
{
    <p><em>Book with id: @Id was deleted successfully</em></p>
}
else if (Id == 0)
{
    <p><em>There's no existing book with id 0</em></p>
}
else
{
    <p><em>There's no existing book with id @Id</em></p>
}

<a href="/Books">Back to Books</a>

@code {
    [Parameter]
    public int Id { get; set; }

    Books book = new Books();
    private bool isDeleted;

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            book = await booksServices.GetBook(Id);
            await DeleteBook();
        }
    }

    private async Task DeleteBook()
    {
        try
        {
            if(Id == 0 || book.Id != Id)
            {
                Toast.ShowError($"Book with id {book.Id} not found for delete!");
            }
            else
            {
                isDeleted = true;
                await booksServices.DeleteBook(book.Id);

                Toast.ShowSuccess($"Book with id {book.Id} deleted succesfully!");
            }         
        }
        catch (Exception e)
        {
            Toast.ShowError($"Error: {e.Message}");
        }
    }
}
